#all_standard {
}
#fpdd_date {
}

#all_standard_d3 {
    width: 400px;
    margin-top: 0px;
}

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

#content {
    overflow-x: auto;
}
#bulbura_de_boris {
    height: 500px;
}

#bulbura_de_boris .jqplot-yaxis-tick {
 top: 35px;
}

#chartContainer {
    background-color: #eee;
}
#chartContainer svg {
    background-color: #ddd;
}

.tooltip {
    opacity: 1 !Important
}

.flag {
    margin-right: 5px;
}

.main_graph_app {
    background-color: #cccccc;
    border: #666666 solid 2px;
    width: 130px;
    height: 200px;
    float: left;
    margin: 1em;
    border-radius: 10px;
}
.main_graph_app .header {
    height: 15%;
    text-align: center;
    background-color: #ddd;
    font-weight: bold;
    line-height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main_graph_app .footer {
    height: 15%;
    background-color: #ddd;
    text-align: right;
    line-height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main_graph_app .footer span {
    color: #ff0000;
    font-weight: bold;
    margin-right: 0.2rem;
}
.main_graph_app .content {
    height: 70%;
    background-color: #fff;
}
.main_graph_app .content .in_progress {
    background-color: green;
}
.main_graph_app .content .failed {
    background-color: #ff0000;
}
.main_graph_app .content .postponed {
    background-color: orange;
}
.main_graph_app .content a {
    width: 100%;
    height: 100%;
    display: block;
}